IndentWidth: 4
BasedOnStyle: Google
Language: Cpp
DerivePointerAlignment: false
PointerAlignment: Left
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: None
AlwaysBreakTemplateDeclarations: Yes
